.vscode/
.ipynb_checkpoints
*/*/__pycache__
*/__pycache__
pipvenv/
.pytest_cache
htmlcov
.coverage
coverage.xml
*/.coverage
*/*/.coverage
*.ndpi
*.mrxs
*.zip
*__pycache__*
__pycache__/
*pyc
nohup.out
jupyter.log
*.pt